*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
}


html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    min-height: 100vh;
    background-color: #664a8c;
}


main {
    position: relative;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}


main .input_section{
    position: relative;
    height: 50px;
    
}

.input_section input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0px 35px 0px 15px;
    transition: all 0.2s linear;
}


input:is(:focus, :valid){
    border-color: #4070f4;
}


.input_section :is(label, i){
    position: absolute;
     top: 50%;
     transform: translateY(-50%);
     color: #999;
     transition: all 0.2s ease;
}


.input_section label {
    left: 15px;
    pointer-events: none;
    font-size: 16px;
    font-weight: 400; 
}



input:is(:focus, :valid) ~ label{
    color: #4070f4;
    top: 0;
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
}



.input_section i {
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 20px;
}



input:is(:focus, :valid) ~ i{
    color: #4070f4;
}