* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: #171;
    /* overflow: hidden; */
}

.wrapper {
    max-width: 700px;
    width: 100%;
    margin: 130px auto;
    background-color: #fff;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}


.wrapper nav {
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-item: center;

}


.wrapper nav label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: #171;
    font-size: 18px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

#home:checked~nav label.home,
#blog:checked~nav label.blog,
#code:checked~nav label.code,
#help:checked~nav label.help,
#about:checked~nav label.about {
    color: #fff;
}

input[type="radio"] {
    display: none;

}


.wrapper nav label i {
    padding-right: 7px;
}


.wrapper nav .slider {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #171;
    border-radius: 5px;
    z-index: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;

}


#blog:checked~nav .slider {
    left: 20%;
}


#code:checked~nav .slider {
    left: 40%;
}

#help:checked~nav .slider {
    left: 60%;
}


#about:checked~nav .slider {
    left: 80%;
}


.common_Section .content {
    display: none;
}

#home:checked~.common_Section .content-1,
#blog:checked~.common_Section .content-2,
#code:checked~.common_Section .content-3,
#help:checked~.common_Section .content-4,
#about:checked~.common_Section .content-5 {
    display: block;
}


.common_Section .title {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0px 10px 0;
}