@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    align-item: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
}


.wrapper {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 14px rbga(0, 0, 0, 0.05);
}


.wrapper header {
    display: flex;
    height: 55px;
    align-item: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    border-radius: 30px;

}


header label {

    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    position: relative;
    font-size: 18px;
    align-item: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

}

#tab-1:checked~header .tab-1,
#tab-2:checked~header .tab-2,
#tab-3:checked~header .tab-3 {
    color: #fff;

}


header label:nth-child(2) {
    width: 40%;
}


header .slider {
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
}

#tab-1:checked~header .slider {
    left: 0%;
    width: 90px;
    transform: translateX(5%);
}


#tab-2:checked~header .slider {
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}

#tab-3:checked~header .slider {
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
}


.wrapper input[type="radio"] {
    display: none;
}


.cards_area {
    overflow: hidden;
}

.cards_area .cards {
    width: 300%;
    display: flex;
}


.cards .row {
    width: 33.4%;
}


.cards .row-1 {
    transition: all 0.3s ease;
}

#tab-1:checked~.cards .row .cards .row-1 {
    margin-left: 0;
}


#tab-2:checked~.cards .row .cards .row-1 {
    margin-left: -33.4%;
}

#tab-3:checked~.cards .row .cards .row-1 {
    margin-left: -66%;
}


.row .pricing_details {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}


.pricing_details span {
    font-size: 65px;
    font-weight: 600;
    font-family: 'Note Sans', snas-serif;
    position: relative;
}



.pricing_details span::before,
.pricing_details span::after {
    position: absolute;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


.pricing_details span::before {
    content: "$";
    font-size: 20px;
    left: -13px;
    top: 17px;
}



.pricing_details span::after {
    content: "/mon";
    font-size: 13px;
    right: -33px;
    bottom: 17px;
}


.pricing_details p {
    font-size: 18px;
    margin-top: 5px;
}

.row .features li {
    display: flex;
    align-item: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.features li i {
    color: #77A5F8;
}

.features li span {
    margin-left: 10px;

}


.wrapper button {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.wrapper button:hover {
    transform: (0.98);
}